// COLORS
$redColor: #f65261;
$lightBlackColor: #424242;
$grayColor: #555555;
$blackColor: #232323;
$whiteColor: #ffffff;

// SPACES
$space-xl: 30px;
$space-l: 25px;
$space-m: 20px;
$space-s: 15px;
$space-xs: 10px;
$space-xxs: 5px;

// FONTS
$fs20: 20px;
$fs18: 18px;
$fs16: 16px;
$fs14: 14px;
$fs12: 12px;
